:root {
  --primary: #4b4a5a;
  --secondary: #a55540;
  --tertiary: #e79a58;
  --light: #e1d5d2;
  --dark: #42240c;
  --error: #c81912;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", cursive;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  font-family: "Comic Sans MS", cursive;
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

header {
  /* color: var(--primary); */
  background: url("../src/assets/background1-friends4ever.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding-top: 700px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: larger;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* header #desc {
  color: var(--light);
  padding-left: 30px;
  font-style: italic;
  font-size: 1.5rem;
} */

header a {
  color: var(--light);
  font-size: 3rem;
}

header a:hover {
  text-decoration: none;
  color: whitesmoke;
}

/* nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
} */
header a {
  font-size: 1.5rem;
}
header li {
  list-style-type: none;
}

button {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 3px;
  background-color: var(--secondary);
  color: var(--light);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
  /* border-radius: 20px; */
}

/* img #headerBackground {
  background-repeat: no-repeat;
  background-size: cover;
} */

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 95%;
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}
/* .card img {
  max-height: 350px;
} */
.error-text {
  color: var(--error);
}

@media screen and (min-width: 300px) {
  .card {
    width: 100%;
  }
  header {
    display: flex;
    /* flex-direction: column; */
  }
}

@media screen and (min-width: 700px) {
  .card {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: 25%;
  }
}
